<html>
  <head>
    <title>Alz-eye-mers</title>
    <style type="text/css">
      body{
        background-color: #f5f5f5;
        font-family: Helvetica;
      }

      .container{
        margin: 0 auto;
        width: 700px;
        background-color: #696969;
        padding: 20px;
      }
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
      if (!!window.EventSource) {
        var source = new EventSource('/');
        source.onmessage = function(e) {
          $("#data").text(e.data);
        }
      }
    </script>
  </head>
  <body>
    <!-- <h1>Alz<b>eye</b>mers</h1> -->
    <div class="container">
      <img src="static/img/logo.png" /><br />
      <img src="{{ url_for('video_feed') }}">

      <!-- ThreatNum: {{ threatNum }} -->
      <div id="data">nothing received yet</div>
      <!-- <a href="javascript:recordAudio()">Record audio</a> -->
    </div>

  </body>

  <script src="/static/js/main.js"></script>


</html>
